<!DOCTYPE html>
<html lang="en">
{{> baseHead }}
<body>
  {{> siteHeader }}
  <div>
    <h2>สวัสดีฟีวเฟรนด์ส</h2>
    <p>วันนีเพือนมีอะไรจะฝากถาม ...</p>
    {{#each allPosts}}
      <div style="background-color: lavender;">
        <h4><a href="/p/{{ this.id }}">{{ this.title }}</a></h4>
        <p>
          <b>{{ this.from }}</b>
          <span> | {{ this.createdAt }}</span>
        </p>
        {{#if this.commentsCount}}
          <p>{{ this.commentsCount }} คอมเม้นท์</p>
        {{else}}
          <p>ยังไม่มีคอมเม้นท์นะ มาเปิดกันได้</p>
        {{/if}}
      </div>
    {{/each}}
  </div>
  {{> siteFooter }}
</body>
</html>
