<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle=customTitle }}
<body>
  {{> siteHeader }}
  {{#if onePost}}
    <div style="background-color: lavender;">
      <h2>{{ onePost.title }}</h2>
      <p>
        <b>{{ onePost.from }}</b>
        <span> | {{ onePost.createdAtText }}</span>
      </p>
      <p>{{ onePost.content }}</p>
    </div>
    <hr>
    <form action="/p/{{ onePost.id }}/comment" method="post">
      <p>
        <textarea name="content" placeholder="แสดงความคิดเห็น">{{ commentValues.content }}</textarea>
      </p>
      <p>
        <input type="text" name="from" placeholder="จากคุณ" value="{{ commentValues.from }}">
      </p>
      <p>
        <input id="input-accepted" type="checkbox" name="accepted">
        <label for="input-accepted"> ข้อความยาวๆที่หลายคนเคยเจอ อาจไม่ต้องอ่านก็ได้ แค่ยอมรับและเข้าใจก็พอ</label>
      </p>
      <p>
        <button type="submit">คอมเม้นท์</button>
      </p>
      {{#if errorMessage }}
        <p>*** {{ errorMessage }}</p>
      {{/if}}
    </form>
    <hr>
    {{#if postComments}}
      <h4>{{ postComments.length }} คอมเม้นท์</h4>
    {{else}}
      <h4>ยังไม่มีคอมเม้นท์นะ มาเปิดกันได้</h4>
    {{/if}}
    {{#each postComments}}
      <div style="background-color: rgb(249, 225, 229);">
        <p>
          <b>{{ this.from }}</b>
          <span> | {{ this.createdAtText }}</span>
        </p>
        <p>{{ this.content }}</p>
      </div>
    {{/each}}
  {{else}}
    <p>ไม่พบโพสต์ที่คุณต้องการ</p>
  {{/if}}
  {{> siteFooter }}
</body>
</html>
