<!DOCTYPE html>
<html lang="en">
{{> baseHead custom_title=custom_title }}
<body>
  {{> siteHeader }}
  {{#if onePost}}
    <div style="background-color: lavender;">
      <h2>{{ onePost.title }}</h2>
      <p>{{ onePost.createdAt }}</p>
      <p>{{ onePost.content }}</p>
    </div>
    {{#each postComments}}
      <p>{{ this.content }}</p>
    {{/each}}
  {{else}}
    <p>ไม่พบโพสต์ที่คุณต้องการ</p>
  {{/if}}
  {{> siteFooter }}
</body>
</html>
