<!DOCTYPE html>
<html lang="en">
{{> baseHead customTitle=customTitle }}
<body>
  {{> siteHeader }}
  <section class="section">
    <div class="container">
      {{#if onePost}}
        <div class="box">
          <h4>{{ onePost.title }}</h4>
          <p>
            <b>{{ onePost.from }}</b>
            <span class="text-gray"> | {{ onePost.createdAtText }}</span>
          </p>
          <div>{{ onePost.content }}</div>
        </div>
        <hr>
        <form action="/p/{{ onePost.id }}/comment" method="post">
          <p>
            <textarea name="content" placeholder="แสดงความคิดเห็น" rows="3">{{ commentValues.content }}</textarea>
          </p>
          <p>
            <input type="text" name="from" placeholder="จากคุณ" value="{{ commentValues.from }}">
          </p>
          <p>
            <input id="input-accepted" type="checkbox" name="accepted">
            <label for="input-accepted"> ข้อความยาวๆที่หลายคนเคยเจอ อาจไม่ต้องอ่านก็ได้ แค่ยอมรับและเข้าใจก็พอ</label>
          </p>
          <p>
            <button class="button" type="submit">คอมเม้นท์</button>
          </p>
          {{#if errorMessage }}
            <p>*** {{ errorMessage }}</p>
          {{/if}}
        </form>
        <hr>
        {{#if postComments}}
          <h5>{{ postComments.length }} คอมเม้นท์</h5>
        {{else}}
          <h5>ยังไม่มีคอมเม้นท์นะ มาเปิดกันได้</h5>
        {{/if}}
        {{#each postComments}}
          <div class="box">
            <p>
              <b>{{ this.from }}</b>
              <span class="text-gray"> | {{ this.createdAtText }}</span>
            </p>
            <div>{{ this.content }}</div>
          </div>
        {{/each}}
      {{else}}
        <p>ไม่พบโพสต์ที่คุณต้องการ</p>
      {{/if}}
    </div>
  </section>
  {{> siteFooter }}
  {{> scrollTopButton }}
  {{> siteScript }}
</body>
</html>
